@import url("./component/TypeSelect/ol-Identify-TypeSelect.css");
@import url("component/LayerTree/ol-Identify-FeatureLayerTree.css");
@import url("component/AttrTable/ol-Identify-FeatureAttrTable.css");
@import url("utils/MapSelection/ol-MapSelection-Utils.css");
@import url("component/TitlePanel/ol-Identify-TitlePanel.css");
@import url("component/ToolBar/ol-Identify-Toolbar.css");

.identify.shown.ol-control {
    background-color: transparent;
}

.identify.shown.ol-control:hover {
    background-color: transparent;
}

.identify {
    position: absolute;
    right: 0.5em;
}

.identify.top {
    top: 1.0em;
}

.identify.bottom {
    bottom: 1.5em;
}

.identify.shown {
    /*top: 1.5 em;*/
}

.identify .infoWindow {
    width: 300px;
    padding: 0 0 0 0;
    margin: 0;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: white;
    display: none;
    max-height: 100%;
    overflow-y: auto;
}

.identify .infoWindow .featureTreeContainer {
    width: 100%;
    height: 180px;
    border-radius: 5px;
    position: relative;
    overflow-y: auto;
    display: none;
}

.identify .infoWindow .featureTreeContainer.shown {
    display: block !important;
    animation: showGradually 0.3s;
    -moz-animation: showGradually  0.3s; /* Firefox */
    -webkit-animation: showGradually  0.3s; /* Safari and Chrome */
    -o-animation: showGradually  0.3s; /* Opera */
}

.identify .infoWindow .featureAttrTable {
    width: 100%;
    height: 280px;
    border-radius: 5px;
    position: relative;
    overflow-y: auto;
    display: none;
    /*box-shadow: 0 0 2px #ccc;*/
}

.identify .infoWindow .featureAttrTable.shown {
    display: block !important;
    animation: showGradually 0.3s;
    -moz-animation: showGradually  0.3s; /* Firefox */
    -webkit-animation: showGradually  0.3s; /* Safari and Chrome */
    -o-animation: showGradually  0.3s; /* Opera */
}

.identify.shown .infoWindow {
    display: block;
    animation: advancegradually 0.3s;
    -moz-animation: advancegradually  0.3s; /* Firefox */
    -webkit-animation: advancegradually  0.3s; /* Safari and Chrome */
    -o-animation: advancegradually  0.3s; /* Opera */
}

.identify button {
    width: 38px;
    height: 38px;
    background-image: url('./img/Identify_icon.png') /*logo.png*/;
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    z-index:999;
}

.identify.shown button {
    width: 38px;
    height: 38px;
    background-image: url('./img/Identify_icon_selected.png') /*logo.png*/;
    background-repeat: no-repeat;
    background-color: white;
    border: none;

    animation: advancegradually 0.3s;
    -moz-animation: advancegradually  0.3s; /* Firefox */
    -webkit-animation: advancegradually  0.3s; /* Safari and Chrome */
    -o-animation: advancegradually  0.3s; /* Opera */
}

.identify button:focus, .identify button:hover {
    background-color: #e6e6e6;
}

.identify.touch ::-webkit-scrollbar {
    width: 4px;
}

.identify.touch ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.identify.touch ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
@keyframes advancegradually{
    0%{ opacity: 0; transform: translate(30px, 0) }
    100%{ opacity: 1; transform: translate(0, 0) }
}
@keyframes showGradually{
    0%{ opacity: 0; transform: translate(0, -30px) }
    100%{ opacity: 1; transform: translate(0, 0) }
}


