.ol-AnimationMarker{
    display: none;
    position: absolute;
    bottom: -4px;
    left: -16px;
}
.ol-AnimationMarker.shown{
    display: block !important;

    animation: AnimationMarker 0.6s;
    -moz-animation: AnimationMarker  0.6s; /* Firefox */
    -webkit-animation: AnimationMarker  0.6s; /* Safari and Chrome */
    -o-animation: AnimationMarker  0.6s; /* Opera */
}

.ol-AnimationMarker img{

}

@keyframes AnimationMarker{
    0%{ transform: translate(0, -80px) }
    50%{transform: translate(0, 0px) }
    75%{transform: translate(0, -20px) }
    100%{ transform: translate(0, 0) }
}
