
.identify .infoWindow .selectContainer {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    /*box-shadow: 0 0 2px #ccc;*/
    position: relative;
}

.identify .infoWindow .selectContainer:after {
    content: "";
    width: 14px;
    height: 8px;
    background: url("./img/pull-down.png") no-repeat center;
    position: absolute;
    right: 20px;
    top: 45%;
    pointer-events: none;
}

.identify .infoWindow select {
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    line-height: 40px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 16px;
    padding-left: calc(50% - 40px);
}

.identify .infoWindow select option {
    line-height: 30px;
    height: 30px;
    margin: 5px auto;
}