
.identify .infoWindow ul {
    padding-left: 1em;
    list-style: none;
    margin: 0 auto;

    animation: showGradually 0.3s;
    -moz-animation: showGradually  0.3s; /* Firefox */
    -webkit-animation: showGradually  0.3s; /* Safari and Chrome */
    -o-animation: showGradually  0.3s; /* Opera */
}

.identify .infoWindow ul .hidden{
    display: none;
}

.identify .infoWindow li.group {
    padding-top: 5px;
    text-align: left;
}
.identify .infoWindow li.folding{
    list-style: square inside url("./img/tree-maximize.png");
}

.identify .infoWindow li.group > label {
    font-weight: bold;
    text-align: left !important;
    color: #31718d;
}

.identify .infoWindow li.layer {
    display: table;
    width: 100%;
    margin: 5px 0 5px 0;
}
.identify .infoWindow li.layer > label{
    text-align: left !important;
    color: #31718d;
    font-size: 15px;
}

.identify .infoWindow li.group ul {
    margin: 5px 16px 0 0;
}

.identify .infoWindow li.group li.layer:focus,
.identify .infoWindow li.group li.layer:hover,
.identify .infoWindow .select{
    background-color: #e9f0f3;
    color: white;
}

.identify .infoWindow label.disabled {
    opacity: 0.4;
}
/*滚动条样式*/
.featureTreeContainer::-webkit-scrollbar {
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.featureTreeContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(18,66,87,0.2);
    border-radius: 10px;
    background: #EDEDED;
}
.featureTreeContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(18,66,87,0.2);
    background: rgba(49, 113, 141, 0.59);
}

@keyframes showGradually{
    0%{ opacity: 0; transform: translate(0, -30px) }
    100%{ opacity: 1; transform: translate(0, 0) }
}